.start{
    font-family: "Roboto", "Raleway", sans-serif;
    color: #2e2f42;
    width: 1440px;
    height: 3300px;
}
body{
    background-color: #fff;
    font-family: "Roboto", "Raleway", sans-serif;
    color:#2e2f42;
    line-height: 1.5;
}
ul, ol{
    list-style-type: none;
}
a {
    text-decoration: none;
}
/* header */
.pagt-header{
    position: absolute;
    width: 1440px;
    height: 72px;
}
.logo{
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    width: 115px;
    height: 24px;
    margin-left: 156px;
    margin-top: 24px;
}
.part-logo{
    color: #4d5ae5;
}
.navigation-list{
    position: absolute;
    height: 24px;
    left: 347px;
    top: 24px;
}
.navigation-studio{
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.navigation-portfolio{
    position: absolute;
    margin-left: 88px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.navigation-contacts{
    position: absolute;
    margin-left: 194px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.address-mail{
    position: absolute;
    margin-left: 940px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-tel{
    position: absolute;
    margin-left: 1133px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-mail:hover, .address-tel:hover,
.navigation-studio:hover, .navigation-portfolio:hover,
.navigation-contacts:hover{
    color: #404bbf;
}
.navigation-studio:active{
    color: #404bbf;
}
/*main*/
.solutions{
    position: absolute;
    width: 1440px;
    height: 600px;
    top: 72px;
    left: 0px;
    background-color: #2e2f42;
}
.effective-solutions{
    position: absolute;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    width: 496px;
    height: 120px;
    margin-left: 472px;
    margin-top: 188px;
}
.order-button{
    position: absolute;
    left: 636px;
    top: 356px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5
}
.order-button:hover{
    background-color: #404bbf;
}
/*our qualities*/
.qualities{
    width: 1128px;
    height: 104px;
}
.list-qualities>li>h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;;
}
.list-qualities>li>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.list-qualities>.strategy{
    position: absolute;
    width: 264px;
    height: 104px;
    left: 156px;
    top: 792px;
}
.list-qualities>.punctuality {
    position: absolute;
    width: 264px;
    height: 104px;
    left: 444px;
    top: 792px;
}
.list-qualities>.diligence {
    position: absolute;
    width: 264px;
    height: 104px;
    left: 732px;
    top: 792px;
}
.list-qualities>.technologies {
    position: absolute;
    width: 264px;
    height: 104px;
    left: 1020px;
    top: 792px;
}
/*Our Team*/
.team{
    position: absolute;
    width: 1440px;
    height: 732px;
    background-color: #f4f4fd;
    top: 1016px;
}
.team-our{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    position: absolute;
    margin-left: 639px;
    margin-top: 120px;
}
.list-team>li>h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.list-team>li>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.mark{
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    text-align: center;
    position: absolute;
    margin-left: 156px;
    margin-top: 232px;
}
.tom{
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    text-align: center;
    position: absolute;
    margin-left: 444px;
    margin-top: 232px;
}
.camila{
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    text-align: center;
    position: absolute;
    margin-left: 732px;
    margin-top: 232px;
}
.daniel{
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    text-align: center;
    position: absolute;
    margin-left: 1020px;
    margin-top: 232px;
}
/*Our Portfolio*/
.portfolio{
    
}
.title-portfolio{
    
}

/*footer*/
footer {
    background-color: #2e2f42;
    color: white;
    width: 1440px;
    height: 312px;
    position: absolute;
    top: 2988px;
}
.logo-footer{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    position: absolute;
    margin-left: 156px;
    margin-top: 100px;
}
.part-logo-footer{
    color: #f4f4fd;
}
.text-footer{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    margin-left: 156px;
    margin-top: 140px;
    width: 264px;
    height: 72px;
}